name: simple

on:
  pull_request:
    branches: ["master"]
    types: ["closed"]

jobs:
  bump:
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Information
        run: |
          git branch -a

      - name: Bump Version
        env:
          BUMPER_TOKEN: ${{ secrets.BUMPER_TOKEN }}
        if: github.event.pull_request.merged
        run: |
          pip install bump
          VERSION=`python -m bump`
          git config user.name "GitHub Actions"
          git config user.email "github@azion.com"
          git add setup.py
          git commit --message "chore: Bump $VERSION"
          git tag $VERSION
          git remote set-url origin "https://wanderson-azion:$BUMPER_TOKEN@github.com/wanderson-azion-team/bump"
          git config --unset 'http.https://github.com/.extraHeader'
