name: simple

on:
  push:
    branches: ["master"]

jobs:
  bump:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2

      - name: Bump Version
        run: |
          pip install bump
          VERSION=`python -m bump`
          echo "VERSION: $VERSION"
          git config user.name "GitHub Actions"
          git config user.email "github@azion.com"
          git add setup.py
          git commit --message "chore: Bump $VERSION"
          git push
