name: simple

on:
  push:
    branches: ["master"]

jobs:
  bump:
    runs-on: ubuntu-16.04
    steps:
      - uses: actions/checkout@v2
      - name: Bump Version
        run: |
          VERSION=$(cat VERSION) && echo $(($VERSION + 1)) > VERSION
