name: simple

on:
  pull_request:
    branches: ["master"]
    types: ["closed"]

jobs:
  bump:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2

      - name: Conditionals
        if: github.event.pull_request.merged
        run: |
          echo MERGEADO

      - name: Bump Version
        env:
          BUMPER_TOKEN: ${{ secrets.BUMPER_TOKEN }}
        run: |
          env
          #pip install bump
          #VERSION=`python -m bump`
          #git config user.name "GitHub Actions"
          #git config user.email "github@azion.com"
          #git add setup.py
          #git commit --message "chore: Bump $VERSION"
          #git tag $VERSION
          #git remote set-url origin "https://wanderson-azion:$BUMPER_TOKEN@github.com/wanderson-azion-team/bump"
          #git config --unset 'http.https://github.com/.extraHeader'
          #git push
